<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/styles_admin.css'>

    {% block head %}
        <title>Foodfy/Admin</title>
    {% endblock %}

</head>
<body>
    
    <header>
        <div class='menu-admin'>
            <div id='menu-items'>
                <a href='/'><img src='/logoWhite.png' alt='Foodfy'></a>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

<!--
    <footer>
        <div class='foot'>
            All rights reserved, Foodfy Recipes
        </div> 
    </footer>     
</body>
-->
</html>